<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center mt-5">Order placed successfully</h1>
                <a href="/orders/{{user._id}}" class="btn btn-primary">view orders</a>
            </div>
        </div>
    </div>
</section>